In [1]:
import pandas as pd
import pandas_profiling

### Importo Dati

Importo tutti i csv utili alla creazione del database. Le tabelle del database saranno: films, films_in_depth, join_table, albums, songs_features

#### Films

In [2]:
films = pd.read_csv(r'/Users/tommaso/Desktop/UNIVERSITÀ/magistrale/I anno/data management and visualization/data management/project spotify/CODICI/dataset finali/merge (1).csv')
films = films.drop('Unnamed: 0',axis=1)
join = films[['imdb_id', 'uri']]          #creo la tabella di join

In [3]:
films = films[['imdb_id', 'title', 'original_title', 'overview',
       'release_date', 'original_language', 'runtime', 'popularity']]   #prendo solo le colonne che mi interessano per il database
films.head()    #tabella finale 'films'

,imdb_id,title,original_title,overview,release_date,original_language,runtime,popularity
0,tt3521164,Moana,Moana,"In Ancient Polynesia, when a terrible curse in...",2016,en,107.0,9.143457
1,tt2294629,Frozen,Frozen,Young princess Anna of Arendelle dreams about ...,2013,en,102.0,24.248243
2,tt0034862,Holiday Inn,Holiday Inn,Lovely Linda Mason has crooner Jim Hardy head ...,1942,en,100.0,8.258968
3,tt0099785,Home Alone,Home Alone,Eight-year-old Kevin McCallister makes the mos...,1990,en,103.0,0.702543
4,tt0077631,Grease,Grease,Australian good girl Sandy and greaser Danny f...,1978,en,110.0,7.854899

#### Films in depth

In [4]:
films_in_depth = pd.read_csv(r'/Users/tommaso/Desktop/UNIVERSITÀ/magistrale/I anno/data management and visualization/data management/project spotify/CODICI/dataset finali/films_in_depth.csv')
films_in_depth = films_in_depth.drop('Unnamed: 0',axis=1)
films_in_depth.head()  ##qui ci sarà il films_in_depth finale

,imdb_id,title,rating,ratingcount,certificate,genres,gross_ww,gross_domestic,budget,Aged_30_44_rat,...,Aged_45plus_rat,Aged_45plus_totrat,Aged_18_29_rat,Aged_18_29_totrat,Males_rat,Males_totrat,Aged_under_18_rat,Aged_under_18_totrat,Non_US_users_rat,Non_US_users_totrat
0,tt3521164,Moana,7.6,342022,PG,"['Animation', 'Adventure', 'Comedy', 'Family',...",6.650691e+08,248757044.0,150000000.0,7.5,...,7.5,25999,7.7,52361,7.5,152508,7.6,403.0,7.5,234962
1,tt2294629,Frozen,7.4,631125,PG,"['Animation', 'Adventure', 'Comedy', 'Family',...",1.284541e+09,400953009.0,150000000.0,7.4,...,7.3,53602,7.6,108598,7.3,295729,7.2,453.0,7.4,401653
2,tt0034862,Holiday Inn,7.3,16155,Passed,"['Comedy', 'Drama', 'Music', 'Musical', 'Roman...",NaN,NaN,3200000.0,7.1,...,7.5,5887,7.2,830,7.2,7915,8.0,1.0,7.1,4870
3,tt0099785,Home Alone,7.7,597264,PG,"['Comedy', 'Family']",4.766847e+08,285761243.0,18000000.0,7.7,...,7.2,56454,7.7,75022,7.6,307555,7.9,543.0,7.6,392256
4,tt0077631,Grease,7.2,281652,PG,"['Comedy', 'Musical', 'Romance']",3.962711e+08,190071103.0,6000000.0,7.1,...,7.4,46910,7.2,32114,7.0,120198,6.7,107.0,7.2,169025

#### Join table

In [5]:
join_table = join.rename(columns = {'uri':'album_uri'})
for i in range(0,len(join_table)):                   ### estraggo il pezzo finale delle uri che mi serve per estrarre le tracks degli album            
    join_table['album_uri'][i]=join_table['album_uri'][i].split(":")[2]
join_table.head()   #tabella finale 'join_table'

     imdb_id               album_uri
0  tt3521164  6pZj4nvx6lV3ulIK3BSjvs
1  tt2294629  2lfqRceJLjF8rSeo5P7SWW
2  tt0034862  4ZZvKnA1YJ2KcwjMmHBinq
3  tt0099785  3rDo7fQDUwJ6qmxwP5yQsY
4  tt0077631  5n47Dui0H3pGpZSOxITmoq

#### Albums

In [6]:
albums = pd.read_csv(r'/Users/tommaso/Desktop/UNIVERSITÀ/magistrale/I anno/data management and visualization/data management/project spotify/CODICI/dataset finali/albums.csv')
albums = albums.drop('Unnamed: 0',axis=1)
albums = albums.rename(columns = {'uri':'album_uri'})
albums.head()

                album_uri        title  album_date
0  6pZj4nvx6lV3ulIK3BSjvs        Moana        2016
1  2lfqRceJLjF8rSeo5P7SWW       Frozen        2013
2  4ZZvKnA1YJ2KcwjMmHBinq  Holiday Inn        1942
3  3rDo7fQDUwJ6qmxwP5yQsY   Home Alone        1990
4  5n47Dui0H3pGpZSOxITmoq       Grease        1978

#### Songs features

In [7]:
songs_features = pd.read_csv(r'/Users/tommaso/Desktop/UNIVERSITÀ/magistrale/I anno/data management and visualization/data management/project spotify/CODICI/dataset finali/features_finale.csv')
songs_features = songs_features.drop('Unnamed: 0',axis=1)
songs_features = songs_features.rename(columns = {'uri':'track_uri'})
songs_features.head()

,album_uri,album_title,track_uri,song_title,first_artist,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6pZj4nvx6lV3ulIK3BSjvs,Moana,spotify:track:6FHUBs8P5qcjpj7C2QHdEq,Tulou Tagaloa,Olivia Foa'i,"[""Olivia Foa'i""]",0.271,0.405,2.0,-10.839,1.0,0.0379,0.337,0.123000,0.165,0.188,109.041,51933.0,5.0
1,6pZj4nvx6lV3ulIK3BSjvs,Moana,spotify:track:3ZJnc1eGicPxRitBoC7eWZ,An Innocent Warrior,Vai Mahina,"['Vai Mahina', 'Sulata Foai-Amiatu', 'Matthew ...",0.283,0.203,2.0,-11.228,1.0,0.0342,0.909,0.000661,0.110,0.180,84.656,97413.0,4.0
2,6pZj4nvx6lV3ulIK3BSjvs,Moana,spotify:track:2bwSCIuNtVrQPVddCi8sOW,Where You Are,Christopher Jackson,"['Christopher Jackson', 'Rachel House', 'Nicol...",0.707,0.656,4.0,-9.279,1.0,0.1730,0.743,0.000000,0.172,0.748,118.037,210320.0,4.0
3,6pZj4nvx6lV3ulIK3BSjvs,Moana,spotify:track:6mb6lVLNrcUgLnEN8QnDJd,How Far I'll Go,Auli'i Cravalho,"[""Auli'i Cravalho""]",0.571,0.307,1.0,-10.958,0.0,0.0499,0.649,0.000000,0.178,0.108,83.720,163387.0,4.0
4,6pZj4nvx6lV3ulIK3BSjvs,Moana,spotify:track:6YH2r9NyEJTjlRmKOCvxgJ,We Know The Way,Opetaia Foa'i,"[""Opetaia Foa'i"", 'Lin-Manuel Miranda']",0.689,0.578,9.0,-8.737,1.0,0.0368,0.360,0.000000,0.110,0.391,98.043,141413.0,4.0

### Creo Database

In [8]:
from pathlib import Path
Path('spotiFilm.db').touch()

In [9]:
import sqlite3
conn = sqlite3.connect('spotiFilm.db')
c = conn.cursor()

In [10]:
c.execute('''CREATE TABLE films (imdb_id text, title text, original_title text, overview text, release_date int, original_language text, runtime float, popularity float)''')

In [11]:
films.to_sql('films', conn, if_exists='append', index = False)  # films

361

In [12]:
c.execute('''CREATE TABLE join_table (imdb_id text, album_uri text)''')

In [13]:
join_table.to_sql('join_table', conn, if_exists='append', index = False)  #join_table

361

In [14]:
c.execute('''CREATE TABLE albums (album_uri text, title text, album_date int)''')

In [15]:
albums.to_sql('albums', conn, if_exists='append', index = False)  #albums

361

In [16]:
c.execute('''CREATE TABLE songs_features (album_uri text, album_title text, track_uri text, song_title text,
             first_artist text, artists text, danceability float, energy float, key float, loudness float, 
             mode float, speechiness float, acousticness float, instrumentalness float, liveness float,
       valence float, tempo float, duration_ms float, time_signature float)''')

In [17]:
songs_features.to_sql('songs_features', conn, if_exists='append', index = False)  #albums

6613

In [18]:
c.execute('''CREATE TABLE films_in_depth (imdb_id text, title text, rating float, ratingcount int, certificate text,
          genres text, gross_ww int, gross_domestic int, budget int, Aged_30_44_rat float,
       Aged_30_44_totrat int, US_users_rat float, US_users_totrat int, Females_rat float,
       Females_totrat int, Aged_45plus_rat float, Aged_45plus_totrat int,
       Aged_18_29_rat float, Aged_18_29_totrat int, Males_rat float, Males_totrat int,
       Aged_under_18_rat float, Aged_under_18_totrat int, Non_US_users_rat float,
       Non_US_users_totrat int)''')

In [19]:
films_in_depth.to_sql('films_in_depth', conn, if_exists='append', index = False)  #albums

361