### estrazione uri degli album da spotify

In [1]:
import spotipy               ###importo pacchetto spotify, per richiedere 
from spotipy.oauth2 import SpotifyClientCredentials   
import json
import pandas as pd

In [3]:
credentials = json.load(open('autorizzazione.json'))   ###importo le credenziali per accedere alle api di spotify
client_id = credentials['client_id']
client_secret = credentials['client_secret']

In [4]:
client_credentials_manager = SpotifyClientCredentials(client_id=client_id,client_secret=client_secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)    ###importo la libreria spotify

In [5]:
uri={}
titoli={}
anni={}
for x in range(0,20):             ###ciclo for per esrarre gli album da spotify che contengono Original Motion Picture nel titolo
    iteratore=x*50                ### serve per aggirare il limite di 50 album estratti del comdando .serach
    research = sp.search("Original Motion Picture", limit=50, offset=iteratore, type='album', market=None)
    for i in range(0,50):
        titoli[iteratore+i]=research["albums"]["items"][i]["name"]
        uri[iteratore+i]=research["albums"]["items"][i]["uri"]
        anni[iteratore+i]=research["albums"]["items"][i]["release_date"]

### passaggio da dizionario a dataframe

In [6]:
listatitoli=pd.DataFrame.from_dict(data=titoli, orient="index")         
listauri=pd.DataFrame.from_dict(data=uri, orient="index")     
listaanni=pd.DataFrame.from_dict(data=anni, orient="index")

In [7]:
listatitoli=listatitoli.rename(columns={"O":"index"})
listauri=listauri.rename(columns={"O":"index"})
listaanni=listaanni.rename(columns={"O":"index"})

In [8]:
listatitoli=listatitoli.reset_index()
listauri=listauri.reset_index()
listaanni=listaanni.reset_index()

In [9]:
listauri.head()
listatitoli.head()
listaanni.head()

   index           0
0      0  2021-11-19
1      1  2016-11-18
2      2  2013-01-01
3      3  2017-12-08
4      4  2019-11-15

### unione dei tre dataframe per creare il dataframe iniziale

In [10]:
listafilm=pd.merge(listatitoli, listauri, on="index")

In [15]:
listafilm.head()

,index,0_x,0_y
0,0,Encanto (Original Motion Picture Soundtrack),spotify:album:25L8ck3KGcmCo3901ztPzR
1,1,Moana (Original Motion Picture Soundtrack/Delu...,spotify:album:6pZj4nvx6lV3ulIK3BSjvs
2,2,Frozen (Original Motion Picture Soundtrack / D...,spotify:album:7lZs5r4oQV2nutddffLrg0
3,3,The Greatest Showman (Original Motion Picture ...,spotify:album:7ayBZIe1FHkNv0T5xFCX6F
4,4,Frozen 2 (Original Motion Picture Soundtrack/D...,spotify:album:4M07HWIlZr7zoXoxDHR5mz

In [12]:
listacompleta=pd.merge(listafilm, listaanni, on="index")

In [17]:
listacompleta.head()

,index,0_x,0_y,0
0,0,Encanto (Original Motion Picture Soundtrack),spotify:album:25L8ck3KGcmCo3901ztPzR,2021-11-19
1,1,Moana (Original Motion Picture Soundtrack/Delu...,spotify:album:6pZj4nvx6lV3ulIK3BSjvs,2016-11-18
2,2,Frozen (Original Motion Picture Soundtrack / D...,spotify:album:7lZs5r4oQV2nutddffLrg0,2013-01-01
3,3,The Greatest Showman (Original Motion Picture ...,spotify:album:7ayBZIe1FHkNv0T5xFCX6F,2017-12-08
4,4,Frozen 2 (Original Motion Picture Soundtrack/D...,spotify:album:4M07HWIlZr7zoXoxDHR5mz,2019-11-15

In [18]:
listacompleta=listacompleta.rename(columns={0:"date"})

In [20]:
listacompleta.head()

,index,0_x,0_y,date
0,0,Encanto (Original Motion Picture Soundtrack),spotify:album:25L8ck3KGcmCo3901ztPzR,2021-11-19
1,1,Moana (Original Motion Picture Soundtrack/Delu...,spotify:album:6pZj4nvx6lV3ulIK3BSjvs,2016-11-18
2,2,Frozen (Original Motion Picture Soundtrack / D...,spotify:album:7lZs5r4oQV2nutddffLrg0,2013-01-01
3,3,The Greatest Showman (Original Motion Picture ...,spotify:album:7ayBZIe1FHkNv0T5xFCX6F,2017-12-08
4,4,Frozen 2 (Original Motion Picture Soundtrack/D...,spotify:album:4M07HWIlZr7zoXoxDHR5mz,2019-11-15

In [21]:
c=[] 
listaanni2=listacompleta["date"]
for x in listacompleta["date"]:        ###ciclo per modificare le date di uscita, e tenere solo l'anno
    words=x.split("-", 1)
    c.append(words[0])

In [22]:
listacompleta["date"]=c                ###sostizuione del formato yyyy-mm-dd con yyyy

In [ ]:
listacompleta.to_csv("titolo_uri_date.csv")      ####salvataggio Dataframe